# Regex Assignment Solution

In [111]:
import re
import pandas as pd

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
Sample Text- 'Python Exercises, PHP exercises.'
Expected Output: Python:Exercises::PHP:exercises:

In [6]:
def replace_space_comma_dot(text):
    text= re.sub('[\s,\.]',':',text)
    return text

Python:Exercises::PHP:exercises:

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
Expected output-
0      hello world
1             test
2    four five six

In [12]:
replace_df=pd.DataFrame({'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']})
replace_df['SUMMARY']=replace_df['SUMMARY'].apply(lambda x: re.sub('[X\.:,!\d+;]','',x))
replace_df

         SUMMARY
0    hello world
1           test
2  four five six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [24]:
def find_four_or_more(text):
    pattern=re.compile(r'\b\w{4,}\b')
    matches=pattern.findall(text)
    return matches
find_four_or_more("This is a sample text with some words of various lengths.")

['This', 'sample', 'text', 'with', 'some', 'words', 'various', 'lengths']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [28]:
def find_three_four_five(text):
    pattern=re.compile(r'\b\w{3,5}\b')
    matches=pattern.findall(text)
    return matches
find_three_four_five("This iss a sample text with some words of various lengths.")

['This', 'iss', 'text', 'with', 'some', 'words']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output:
example.com
hr@fliprobo.com
github.com
Hello Data Science World
Data Scientist

In [42]:
def remove_paren(text):
    text=re.sub(re.compile('[()]'),'',text)
    return text
sample=["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello (Data Science World)", "Data (Scientist)"]
sample=list(map(lambda x :remove_paren(x),sample))
sample

['example.com',
 'hr@fliprobo.com',
 'github.com',
 'Hello Data Science World',
 'Data Scientist']

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [61]:
lines = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
with open('readme.txt', 'w') as f:
    for line in lines:
        f.write(line)
        f.write('\n')
with open('readme.txt','r') as g:
    text=list(map(lambda x: re.sub('\n','',x),g.readlines()))
text=list(map(lambda x: re.sub(r'\s\([^)]*\)','',x),text))
text

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”
Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [69]:
a=re.findall('[A-Z][a-z]+',"ImportanceOfRegularExpressionsInPython")
a

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [83]:
def insert_spaces(text):
    text=re.sub(r'(\d)',r' \1',text)
    return text
insert_spaces('RegularExpression1IsAn2ImportantTopic3InPython')

'RegularExpression 1IsAn 2ImportantTopic 3InPython'

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [85]:
def insert_spaces_nos_capital(text):
    text=re.sub(r'([0-9,A-Z])',r' \1',text)
    return text
insert_spaces_nos_capital('RegularExpression1IsAn2ImportantTopic3InPython')

' Regular Expression 1 Is An 2 Important Topic 3 In Python'


Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [87]:
df=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df['first_five_letters']=df['Country'].apply(lambda x: x[:5])
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switz
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icela
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denma
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norwa
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canad
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwand
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burun
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [94]:
def let_num_under(text):
    if re.match('^[a-zA-Z0-9_]*$',text):
        return True
    return False
let_num_under('ada=')

False

Question 12- Write a Python program where a string will start with a specific number.

In [99]:
def let_startsnum(text,number):
    if text.startswith(str(number)):
        return True
    return False
let_startsnum('1ada=',1)

True

In [ ]:
Question 13- Write a Python program to remove leading zeros from an IP address

In [105]:
def remove_leading_zeros(ip):
    return re.sub("^0+(?!$)", "",ip)

remove_leading_zeros('0001.3231.2310')

'1.3231.2310'

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [2]:
line = 'On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country'
with open('readme_1.txt', 'w') as f:
    f.write(line)
with open('readme_1.txt', 'r') as file:
    text = file.read()
date_pattern = r'\b((January|February|March|April|May|June|July|August|September|October|November|December) \d{1,2}(?:st|nd|rd|th) \d{4})\b'
if re.search(date_pattern,text):
    print(re.search(date_pattern,text)[0])
else:
    print('')

August 15th 1947

Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [6]:
def literal_check(literal_list,sample_text):
    count=0
    for i in literal_list:
        if i in sample_text:
            print(f"The literal {i} is present in the sample text {sample_text}")
        else:
            count+=1
        if count==len(literal_list):
            print("None of the literals are present in the sample text")
literal_check(['fox', 'dog', 'horse'],'The quick brown fox jumps over the lazy dog.')

The literal fox is present in the sample text The quick brown fox jumps over the lazy dog.
The literal dog is present in the sample text The quick brown fox jumps over the lazy dog.

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [9]:
def literal_search(literal,sample_text):
    if literal in sample_text:
        print(f"The literal {literal} is present at {sample_text.index(literal)} index in the sample text '{sample_text}'")
    else:
        print("The literal is not present in the sample text")
literal_search('fox','The quick brown fox jumps over the lazy dog.')

The literal fox is present at 16 index in the sample text 'The quick brown fox jumps over the lazy dog.'

Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [11]:
def find_substrings(input_string,pattern):
    if pattern in input_string:
        return True
    return False
find_substrings('Python exercises, PHP exercises, C# exercises','exercises')

True

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [12]:
def find_occurrences_and_positions(input_string, substring):
    occurrences = []
    position = 0
    
    while position < len(input_string):
        index = input_string.find(substring, position)
        if index == -1:
            break
        occurrences.append((substring, index))
        position = index + 1
    
    return occurrences
find_occurrences_and_positions('Python exercises, PHP exercises, C# exercises','exercises')

[('exercises', 7), ('exercises', 22), ('exercises', 36)]

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [16]:
from datetime import datetime

def convert_date_format(input_date):
    date_obj = datetime.strptime(input_date, "%Y-%m-%d")
    output_date = date_obj.strftime("%d-%m-%Y")
    return output_date
# Convert and print the date in dd-mm-yyyy format
output_date = convert_date_format("2023-10-31")
output_date

'31-10-2023'

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [13]:
def decimal_nos(string):
    pattern=re.compile(r'\b\d+\.\d{1,2}\b')
    return pattern.findall(string)
decimal_nos("01.12 0132.123 2.31875 145.8 3.01 27.25 0.25")

re.compile('\\b\\d+\\.\\d{1,2}\\b')

['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [35]:
def find_numbers_with_positions(text):
    pattern=re.compile(r'\d+')
    matches=list(pattern.finditer(text))
    for match in matches:
        print(f'The string has number {match.group()} from {match.span()[0]} to {match.span()[-1]} positions')
find_numbers_with_positions("India won by 305 runs and moves to the first position in 2023 world cup")

The string has number 305 from 13 to 16 positions
The string has number 2023 from 57 to 61 positions

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [38]:
def max_number(text):
    pattern=re.compile(r'\d+')
    matches=list(pattern.finditer(text))
    return max([int(match.group()) for match in matches])
max_number("India won by 305 runs and moves to the first position in 2023 world cup and qualifies to 2025 champions trophy")

2025

Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [53]:
def insert_spaces(text):
    pattern=re.compile(r'[A-Z][a-z]+')
    return r' '.join(pattern.findall(text))
insert_spaces('RegularExpressionIsAnImportantTopicInPython')

'Regular Expression Is An Important Topic In Python'

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [55]:
def upper_lower(text):
    pattern=re.compile(r'[A-Z]{1}[a-z]+')
    return pattern.findall(text)
upper_lower('RegularExpressionIsAnImportantTopicInPython')

['Regular', 'Expression', 'Is', 'An', 'Important', 'Topic', 'In', 'Python']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [58]:
def remove_duplicates(sentence):
    pattern = re.compile(r'\b(\w+)\s+\1\b')
    removed_sentence = pattern.sub(r'\1', sentence)
    return removed_sentence
remove_duplicates("Hello hello world world")

'Hello hello world'

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [65]:
def end_alpha_num(text):
    pattern = re.compile(r'.*[a-zA-Z0-9]+$')
    if pattern.match(text):
        print('The string is accepted')
    else:
        print('The string is not accepted')
end_alpha_num('alphanum123_')

The string is not accepted

Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [74]:
def hashtags(text):
    pattern=re.compile(r'#\w+')
    return pattern.findall(text)
hashtags('RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo')

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [80]:
def remove_U(text):
    pattern=re.compile(r'<U\+\w+>')
    return pattern.sub('',text)
remove_U('@Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders')

'@Jags123456 Bharat band on 28??Those who are protesting #demonetization are all different party leaders'

Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [86]:
line='Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'
with open('readme_2.txt', 'w') as f:
    f.write(line)
def extract_dates(text):
    pattern=re.compile(r'\d{1,2}\-\d{1,2}\-\d{2,4}')
    return pattern.findall(text)
with open('readme_2.txt', 'r') as g:
    text=g.read()
extract_dates(text)

<_io.TextIOWrapper name='readme_2.txt' mode='r' encoding='cp1252'>

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [110]:
def remove_2_4(text):
    pattern=re.compile(r'\b\w{2,4}\b')
    text_new=pattern.sub('',text)
    pattern_1=re.compile(r'\s{2,}')
    return pattern_1.sub(r' ',text_new)
remove_2_4("The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.")

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.

' following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.'